{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Testing Blog</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css">
	<link rel="stylesheet"  href="{% static '/css/blog.css' %}" type="text/css">
</head>
<body>
	<div>
		<h1><a href="/">Testing Blog</a></h1>
	</div>
	<div>
		<h2>This is a blog</h2>
	</div>
	{% for post in posts %}
		<div>
			<p>Created: {{post.created_date}}</p>
			<p><a href="">{{ post.title }}</a></p>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>	
	{% endfor %}	
</body>
</html>